@import "@mixins";

.glow_effect {
    width: 110vw !important;
    height: 0px;
    border-top: 30px solid #FFFFFF;
    position: absolute;
    left: -15px;
    bottom: -15px;
    filter: blur(6px);

    @include breakpoint (HD) {
        width: 100% !important;
        bottom: -20px;
        left: 0;
        filter: blur(10px)
    }
}