@import "@variables";
@import "@mixins";

.gallery {
    width: calc(100% + $WithBlur);
    height: 812px;
    // overflow: hidden !important;
    background: rgba($Black, 1);
    margin: calc(25px - $MarginBlur) 0 calc(100px - $MarginBlur) 0;

    position: relative !important;
    z-index: -1;
    left: -$MarginBlur;

    @include breakpoint (ExtraLarge) {
        height: 596px;
        margin: calc(25px - $MarginBlur) 0 calc(50px - $MarginBlur) 0;
    }

    @include breakpoint (SemiLarge) {
        height: 407px;
        margin: calc(10px - $MarginBlur) 0 calc(40px - $MarginBlur) 0;
    }

    @include breakpoint (Large) {
        height: 427px;
        margin: calc(10px - $MarginBlur) 0 calc(30px - $MarginBlur) 0;
    }

    @include breakpoint (Medium) {
        height: 227px;
        margin: calc(10px - $MarginBlur) 0 calc(40px - $MarginBlur) 0;
    }

    @include breakpoint (SemiMedium) {
        height: 200px;
        margin: calc(10px - $MarginBlur) 0 calc(30px - $MarginBlur) 0;
    }

    & img {
        width: 100% !important;
        height: 812px;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        object-fit: cover !important;

        @include breakpoint (ExtraLarge) {
            height: 596px;
        }

        @include breakpoint (SemiLarge) {
            height: 407px;
        }

        @include breakpoint (Large) {
            height: 427px;
        }

        @include breakpoint (Medium) {
            height: 227px;
        }

        @include breakpoint (SemiMedium) {
            height: 200px;
        }
    }
}