@import '@variables';
@import '@mixins';

.last_threads {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    border: 2px solid $Grey;
    padding: 50px;
    margin-top: 40px;

    &.project_page {
        margin-top: 0;
    }

    @include breakpoint (ExtraLarge) {
        margin-top: 30px;
        padding: 30px;
    }

    @include breakpoint (SemiLarge) {
        margin-top: 30px;
        padding: 20px;
    }

    @include breakpoint (Medium) {
        margin-top: 20px;
        padding: 20px;
    }

    &_container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &.title_block {
            border-bottom: 2px solid $Grey;
        }
    }

    &_title {
        cursor: default;
        font-size: 30px;
        line-height: 30px;
        color: $Black;
        font-family: $PPNeueMachinaRegular;
        padding-bottom: 30px;

        @include breakpoint (ExtraLarge) {
            font-size: 24px;
            line-height: 24px;
            padding-bottom: 30px;
            margin-top: 20px;
        }

        @include breakpoint (SemiLarge) {
            font-size: 18px;
            line-height: 18px;
            padding-bottom: 15px;
            margin-top: 0;
        }

        &.count {
            color: rgba($Black, 0.5);
        }
    }

    &_item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        border-bottom: 1px solid $Grey;
        padding-bottom: 20px;
        margin-top: 30px;

        &:hover {
            border-bottom: 1px solid $Black;
        }

        &:last-child {
            border-bottom: 1px solid rgba($Grey, 0);
        }

        &:hover:last-child {
            border-bottom: 1px solid $Black;
        }

        @include breakpoint (ExtraMedium) {
            cursor: default;
        }

        @include breakpoint (SemiLarge) {
            margin-top: 15px;
            padding-bottom: 15px;
        }

        &_tranding_block {
            padding: 8px 12px;
            background: $Black;
            margin-bottom: 10px;

            font-size: 14px;
            line-height: 18px;
            color: $White;
            font-family: $PPNeueMachinaRegular;

            @include breakpoint (ExtraLarge) {
                font-size: 14px;
                line-height: 18px;
                padding: 8px 12px;
            }

            @include breakpoint (Large) {
                font-size: 12px;
                line-height: 16px;
                padding: 5px 10px;
            }
        }

        &_title {
            width: 100%;
            font-size: 24px;
            line-height: 28px;
            color: $Black;
            font-family: $HelveticaBold;
            margin-bottom: 30px;

            transition: all 0.3s ease-in-out;

            // overflow: hidden;
            // text-overflow: ellipsis;
            // white-space: nowrap;

            position: relative;

            @include breakpoint (ExtraLarge) {
                font-size: 18px;
                line-height: 20px;
            }

            @include breakpoint (SemiLarge) {
                max-width: 800px;
                font-size: 16px;
                line-height: 18px;
            }

            &_hover {
                position: absolute;
                top: 0;
                bottom: -20px;
                width: 100%;
                height: 50px;
                background: $Blue;
                filter: blur(40px);
                border-radius: 100px;
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
        }

        &:hover &_title {
            color: $Blue;
        }

        &:hover &_title_hover {
            opacity: 0.3;

            @include breakpoint (ExtraMedium) {
                opacity: 0;
            }
        }

        &_tags {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            @include breakpoint (SemiLarge) {
                margin-bottom: 0;
            }
        }

        &_tag {
            font-size: 14px;
            line-height: 18px;
            color: $Black;
            font-family: $PPNeueMachinaRegular;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }

            @include breakpoint (SemiMedium) {
                margin-right: 10px;
            }
        }

        &_comments {
            display: flex;
            align-items: center;
        }

        &_comments_count {
            font-size: 12px;
            line-height: 16px;
            color: $Black;
            font-family: $PPNeueMachinaBold;
            margin-left: 10px;
        }
    }

    &_corner_upper {
        width: 30px;
        height: 30px;
        background: $Background;
        border-bottom: 2px solid $Grey;
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(45deg) translateY(-22px);

        @include breakpoint (Large) {
            width: 20px;
            height: 20px;
            transform: rotate(45deg) translateY(-15px);
        }

        @include breakpoint (SemiMedium) {
            width: 15px;
            height: 15px;
            transform: rotate(45deg) translateY(-11px);
        }
    }

    &_corner_down {
        width: 30px;
        height: 30px;
        background: $Background;
        border-top: 2px solid $Grey;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(45deg) translateY(22px);

        @include breakpoint (Large) {
            width: 20px;
            height: 20px;
            transform: rotate(45deg) translateY(15px);
        }

        @include breakpoint (SemiMedium) {
            width: 15px;
            height: 15px;
            transform: rotate(45deg) translateY(11px);
        }
    }
}