@import '@variables';
@import "@mixins";

.social_networks {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    &_title {
        cursor: default;
        font-size: 18px;
        color: rgb($Black, 0.5);
        font-family: $PPNeueMachinaMedium;
        margin-bottom: 15px;
    }

    &_inner {
        display: flex;
        align-items: center;
    }

    &_item {
        cursor: pointer;
        width: 42px;
        height: 42px;
        border: 1px solid #848484;
        margin-right: 15px;
        padding: 10px;

        &:last-child {
            margin-right: 0;
        }

        @include breakpoint (ExtraLarge) {
            width: 42px;
            height: 42px;
            margin-right: 15px;
        }

        @include breakpoint (SemiLarge) {
            margin-right: 10px;
        }

        @include breakpoint (Large) {
            width: 32px;
            height: 32px;
            margin-right: 7px;
        }

        @include breakpoint (Medium) {
            width: 42px;
            height: 42px;
            margin-right: 7px;
        }

        @include breakpoint (SemiMedium) {
            width: 30px;
            height: 30px;
            margin-right: 5px;
            padding: 2px;
        }
    }
}