@import '@variables';

.article {
    cursor: pointer;
    width: 100%;
    height: 650px;
    overflow: hidden;
    position: relative;

    &_background {
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        transition: all .3s ease-in-out;
    }

    &:hover &_background {
        transform: scale(1.03);
    }

    &_corner {
        position: absolute;
        top: 50px;
        right: 50px;
    }

    &_title_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        position: absolute;
        bottom: 50px;
        left: 50px;
    }

    &_title {
        max-width: 90%;
        font-size: 48px;
        line-height: 48px;
        text-transform: $uppercase;
        letter-spacing: 0.02em;
        color: $White;
        font-family: $PPNeueMachinaRegular;
    }

    &_subnavigation_block {
        border: 1px solid $White;
        margin-top: 20px;

        display: flex;
        align-items: flex-start;
    }

    &_subnavigation_text {
        padding: 8px 12px;
        font-size: 14px;
        line-height: 18px;
        color: $White;
        font-family: $PPNeueMachinaRegular;

        &.tag {
            border-right: 1px solid $White;
        }

        &.duration {
            display: flex;

        }

        & .duration_text {
            margin-right: 10px;
        }
    }
}