@import '@variables';
@import '@mixins';

.article {
    cursor: pointer;
    width: 100%;
    height: 793px;
    overflow: hidden;
    position: relative;
    background: $Black;

    @include breakpoint (ExtraLarge) {
        height: 582px;
    }

    @include breakpoint (SemiLarge) {
        height: 395px;
    }

    @include breakpoint (ExtraMedium) {
        cursor: default;
    }

    @include breakpoint (Large) {
        margin-top: 20px;
    }

    @include breakpoint (Medium) {
        height: 388px;
    }

    @include breakpoint (SemiMedium) {
        height: 280px;
    }

    &_background {
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        opacity: 0.5;

        transition: all .3s ease-in-out;
    }

    &:hover &_background {
        transform: scale(1.03);

        @include breakpoint (ExtraMedium) {
            transform: scale(1);
        }
    }

    &_corner {
        position: absolute;
        top: 50px;
        right: 50px;

        @include breakpoint (ExtraLarge) {
            top: 40px;
            right: 40px;
        }

        @include breakpoint (SemiLarge) {
            top: 30px;
            right: 30px;
        }

        @include breakpoint (Large) {
            top: 25px;
            right: 25px;
        }

        @include breakpoint (SemiMedium) {
            top: 20px;
            right: 20px;
        }
    }

    &_title_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        position: absolute;
        bottom: 50px;
        left: 50px;

        @include breakpoint (ExtraLarge) {
            bottom: 40px;
            left: 40px;
        }

        @include breakpoint (SemiLarge) {
            bottom: 30px;
            left: 30px;
        }

        @include breakpoint (Large) {
            bottom: 25px;
            left: 25px;
        }

        @include breakpoint (SemiMedium) {
            bottom: 20px;
            left: 20px;
        }
    }

    &_title {
        max-width: 90%;
        font-size: 48px;
        line-height: 48px;
        text-transform: $uppercase;
        letter-spacing: 0.02em;
        color: $White;
        font-family: $PPNeueMachinaRegular;

        @include breakpoint (ExtraLarge) {
            font-size: 36px;
            line-height: 36px;
        }

        @include breakpoint (SemiLarge) {
            font-size: 24px;
            line-height: 24px;
        }

        @include breakpoint (SemiMedium) {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &_subnavigation_block {
        border: 1px solid $White;
        margin-top: 20px;

        display: flex;
        align-items: flex-start;

        @include breakpoint (ExtraLarge) {
            margin-top: 20px;
        }

        @include breakpoint (Medium) {
            margin-top: 10px;
        }
    }

    &_subnavigation_text {
        padding: 8px 12px;
        font-size: 14px;
        line-height: 18px;
        color: $White;
        font-family: $PPNeueMachinaRegular;

        @include breakpoint (ExtraLarge) {
            font-size: 12px;
            line-height: 16px;
            padding: 5px 10px;
        }

        @include breakpoint (SemiMedium) {
            font-size: 12px;
            line-height: 16px;
            padding: 3px 6px;
        }

        &.tag {
            border-right: 1px solid $White;
        }

        &.duration {
            display: flex;

        }

        & .duration_text {
            margin-right: 10px;
        }
    }
}