@import '@variables';
@import '@mixins';

.article {
    cursor: pointer;
    width: calc(100% + $WithBlur);
    height: 793px;
    position: relative;
    left: -$MarginBlur;
    background: $Black;

    @include breakpoint (ExtraLarge) {
        height: 582px;
    }

    @include breakpoint (SemiLarge) {
        height: 395px;
    }

    @include breakpoint (ExtraMedium) {
        cursor: default;
    }

    @include breakpoint (Large) {
        margin-top: 20px;
    }

    @include breakpoint (Medium) {
        height: 388px;
    }

    @include breakpoint (SemiMedium) {
        height: 280px;
    }

    &_background {
        width: 100%;
        height: 100%;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        transition: transform .3s ease-in-out;
        opacity: 0.5;

    }

    &:hover &_background {
        transform: scale(1.01);

        @include breakpoint (ExtraMedium) {
            transform: scale(1);
        }
    }

    &_corner {
        position: absolute;
        top: calc(50px + $MarginBlur);
        right: calc(50px + $MarginBlur);

        @include breakpoint (ExtraLarge) {
            top: calc(40px + $MarginBlur);
            right: calc(40px + $MarginBlur);
        }

        @include breakpoint (SemiLarge) {
            top: calc(30px + $MarginBlur);
            right: calc(30px + $MarginBlur);
        }

        @include breakpoint (Large) {
            top: calc(25px + $MarginBlur);
            right: calc(25px + $MarginBlur);
        }

        @include breakpoint (SemiMedium) {
            top: calc(20px + $MarginBlur);
            right: calc(20px + $MarginBlur);
        }
    }

    &_title_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;

        position: absolute;
        bottom: calc(50px + $MarginBlur);
        left: calc(50px + $MarginBlur);

        @include breakpoint (ExtraLarge) {
            bottom: calc(40px + $MarginBlur);
            left: calc(40px + $MarginBlur);
        }

        @include breakpoint (SemiLarge) {
            bottom: calc(30px + $MarginBlur);
            left: calc(30px + $MarginBlur);
        }

        @include breakpoint (Large) {
            bottom: calc(25px + $MarginBlur);
            left: calc(25px + $MarginBlur);
        }

        @include breakpoint (SemiMedium) {
            bottom: calc(20px + $MarginBlur);
            left: calc(20px + $MarginBlur);
        }
    }

    &_title {
        max-width: 90%;
        font-size: 48px;
        line-height: 48px;
        text-transform: $uppercase;
        letter-spacing: 0.02em;
        color: $White;
        font-family: $PPNeueMachinaRegular;

        @include breakpoint (ExtraLarge) {
            font-size: 36px;
            line-height: 36px;
        }

        @include breakpoint (SemiLarge) {
            font-size: 24px;
            line-height: 24px;
        }

        @include breakpoint (SemiMedium) {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &_subnavigation_block {
        border: 1px solid $White;
        margin-top: 20px;

        display: flex;
        align-items: flex-start;

        @include breakpoint (ExtraLarge) {
            margin-top: 20px;
        }

        @include breakpoint (Medium) {
            margin-top: 10px;
        }
    }

    &_subnavigation_text {
        padding: 8px 12px;
        font-size: 14px;
        line-height: 18px;
        color: $White;
        font-family: $PPNeueMachinaRegular;

        @include breakpoint (ExtraLarge) {
            font-size: 12px;
            line-height: 16px;
            padding: 5px 10px;
        }

        @include breakpoint (SemiMedium) {
            font-size: 12px;
            line-height: 16px;
            padding: 3px 6px;
        }

        &.tag {
            border-right: 1px solid $White;
        }

        &.duration {
            display: flex;

        }

        & .duration_text {
            margin-right: 10px;
        }
    }
}