@import '@variables';

.tags {
    display: flex;
    align-items: center;


    &_item {
        font-size: 18px;
        line-height: 24px;
        color: $Black;
        font-family: $PPNeueMachinaRegular;

        padding: 10px 15px;
        border: 1px solid $Grey;
        border-right: none;

        &:last-child {
            border-right: 1px solid $Grey;
        }
    }
}