@import "@variables";
@import "@mixins";

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
        cursor: default;
        font-size: 30px;
        line-height: 30px;
        color: $Black;
        font-family: $PPNeueMachinaLight;

        @include breakpoint (ExtraLarge) {
            font-size: 30px;
            line-height: 30px;
        }

        @include breakpoint (SemiLarge) {
            font-size: 24px;
            line-height: 24px;
        }

        @include breakpoint (Medium) {
            font-size: 18px;
            line-height: 18px;
        }

        @include breakpoint (SemiMedium) {
            max-width: 130px;

        }
    }

    &_link {
        width: auto;
        height: auto;
        padding: 0;
        background: none;
        margin-right: 10px;
        font-size: 16px;
        line-height: 22px;
        color: $Blue;
        font-family: $PPNeueMachinaRegular;
        text-decoration: underline;
        cursor: pointer;

        @include breakpoint (ExtraLarge) {
            font-size: 16px;
            line-height: 22px;
            margin-right: 25px;
        }

        @include breakpoint (SemiLarge) {
            font-size: 14px;
            line-height: 18px;
            margin-right: 20px;
        }

        @include breakpoint (ExtraMedium) {
            cursor: default;
        }

        @include breakpoint (Medium) {
            font-size: 12px;
            line-height: 16px;
        }
    }
}
