@import "@variables";
@import "@mixins";

.project_item {
    width: 100%;

    &_buttons {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 75px;

        @include breakpoint (ExtraLarge) {
            margin-top: 70px;
        }

        @include breakpoint (SemiLarge) {
            margin-top: 50px;
        }

        @include breakpoint (Large) {
            flex-direction: row;
            justify-content: space-between;
            margin-top: 0;
        }

        @include breakpoint (Medium) {
            flex-direction: column;
        }
    }
}