@import "@variables";
@import "@mixins";

.steps {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_item {
        cursor: pointer;
        width: 100%;
        height: 10px;
        background: #16B364;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            cursor: pointer;
            background: #98A2B3;
        }

        &.active~& {
            cursor: default;
            background: #F2F4F7;
        }
    }
}