// PP Neue Macnina
@font-face {
    font-family: "PP Neue Machina";
    src: url('/src/fonts/pp_neue/ultralight/NeueMachina-Ultralight.ttf');
    font-style: normal;
    font-weight: 200;
    font-display: fallback;
}

@font-face {
    font-family: "PP Neue Machina";
    src: url('/src/fonts/pp_neue/light/NeueMachina-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: "PP Neue Machina";
    src: url('/src/fonts/pp_neue/medium/NeueMachina-Medium.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "PP Neue Machina";
    src: url('/src/fonts/pp_neue/regular/NeueMachina-Regular.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: "PP Neue Machina";
    src: url('/src/fonts/pp_neue/bold/NeueMachina-Bold.ttf');
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: "PP Neue Machina";
    src: url('/src/fonts/pp_neue/ultrabold/NeueMachina-Ultrabold.ttf');
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
}

@font-face {
    font-family: "PP Neue Machina";
    src: url('/src/fonts/pp_neue/black/NeueMachina-Black.ttf');
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
}

// Helvetica
@font-face {
    font-family: "Helvetica";
    src: url('/src/fonts/helvetica/thin/HelveticaThin.ttf');
    font-style: normal;
    font-weight: 200;
    font-display: fallback;
}

@font-face {
    font-family: "Helvetica";
    src: url('/src/fonts/helvetica/light/HelveticaLight.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: "Helvetica";
    src: url('/src/fonts/helvetica/medium/HelveticaMedium.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "Helvetica";
    src: url('/src/fonts/helvetica/regular/HelveticaRegular.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: "Helvetica";
    src: url('/src/fonts/helvetica/bold/HelveticaBold.ttf');
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: "Helvetica";
    src: url('/src/fonts/helvetica/black/HelveticaBlack.ttf');
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
}