@import "@variables";
@import "@mixins";

.linear_separation {
    width: 100%;
    border-bottom: 2px solid $Black;
    padding: 30px 0;

    position: relative;

    @include breakpoint (SemiLarge) {
        padding: 20px 0;
    }

    @include breakpoint (Large) {
        display: none;
    }

    &_corner {
        width: 20px;
        position: absolute;
        border-bottom: 2px solid $Black;
        top: 67px;
        right: -16px;

        transform: rotate(47deg);

        @include breakpoint (SemiLarge) {
            top: 47px;
        }
    }
}