@import "@variables";
@import "@mixins";

.linear_separation {
    width: 100%;
    border-top: 2px solid $Grey;
    margin-top: 50px;

    &.opportuniti_page {
        margin: 50px 0;
    }

    @include breakpoint (ExtraLarge) {
        margin-top: 20px;
    }

    @include breakpoint (ExtraLarge) {
        &.opportuniti_page {
            margin: 30px 0;
        }
    }

    @include breakpoint (Medium) {
        &.opportuniti_page {
            display: none;
        }
    }
}