@import "@variables";
@import "@mixins";

.button {
    width: 100%;
    padding: 15px 30px;
    background: #16B364;
    font-size: 16px;
    line-height: 15px;
    color: #fff;
    font-family: $PPNeueMachinaRegular;
    text-align: center;
    margin-bottom: 10px;

    transition: all .2s linear;

    &:last-child {
        margin-bottom: 0;
    }

    &.green {
        background: #16B364;

        &:hover {
            background: #168950;
        }
    }

    &.grey {
        background: #98A2B3;

        &:hover {
            background: #828894;
        }
    }

    &.red {
        background: #F04438;

        &:hover {
            background: #c83d33;
        }
    }

}