@import "@variables";
@import "@mixins";

.button {
    width: auto;
    max-width: auto;
    margin-left: 20px;

    &:first-child {
        margin-left: 0;
        margin-top: 0;
    }

    @include breakpoint (ExtraLarge) {
        margin-left: 20px;
    }

    @include breakpoint (SemiLarge) {
        margin-left: 5px;
    }

    @include breakpoint (Large) {
        width: 33%;
    }

    @include breakpoint (Medium) {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0;
        margin-top: 10px;
    }

    & button {
        max-height: 83px;
        border: 1px solid rgba($Black, 0.75) !important;
        padding: 30px 60px;
        text-align: center;
        font-size: 24px;
        line-height: 23px;
        color: $Black;
        font-family: $PPNeueMachinaMedium;

        transition: all .2s linear;

        @include breakpoint (ExtraLarge) {
            max-height: 75px;
            padding: 30px 60px;
            font-size: 16px;
            line-height: 15px;
        }

        @include breakpoint (SemiLarge) {
            max-height: 45px;
            padding: 15px 20px;
        }

        @include breakpoint (Medium) {
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    &.black button {
        background: $Black;
        color: $White;
    }

    &:hover button {
        background: rgba($Black, 0.75);
        color: $White;
    }
}