@import '@mixins';

.left_right_section {
    width: 100%;
    display: flex;
    align-items: start;

    @include breakpoint (Large) {
        flex-direction: column;
    }

    &_ {
        display: flex;
        flex-direction: column;

        &.left_section {
            max-width: 1388px;
        }

        &.right_section {
            max-width: 793px;
        }

        // Opportunities
        &.left_section.opportunities {
            max-width: 1587px;
        }

        &.right_section.opportunities {
            max-width: 595px;
        }

        @include breakpoint (ExtraLarge) {
            width: 100% !important;

            &.left_section {
                max-width: 1015px;
            }

            &.right_section {
                max-width: 582px;
            }

            // Opportunities
            &.left_section.opportunities {
                max-width: 1160px;
            }

            &.right_section.opportunities {
                max-width: 435px;
            }
        }

        @include breakpoint (SemiLarge) {
            width: 100% !important;

            &.left_section {
                max-width: 692px;
            }

            &.right_section {
                max-width: 395px;
            }

            // Opportunities
            &.left_section.opportunities {
                max-width: 692px;
            }

            &.right_section.opportunities {
                max-width: 395px;
            }
        }

        @include breakpoint (Large) {
            &.left_section {
                width: 100% !important;
                max-width: 100%;
            }

            &.right_section {
                width: 100% !important;
                max-width: 100%;
            }

            &.left_section.opportunities {
                width: 100% !important;
            }

            &.right_section.opportunities {
                width: 100% !important;
            }
        }

    }
}