@import "@variables";
@import "@mixins";

.custom_button {
    cursor: pointer;
    font-size: 24px;
    line-height: 23px;
    padding: 20px 30px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0);
    color: $White;
    font-family: $PPNeueMachinaRegular;

    &.none {
        transition: background .2s linear, color .2s linear;
    }

    &.none:hover {
        background: $WhiteOpacity;
        color: $Black;
    }

    &.background {
        background: $White;
        color: $Black;
    }

    &.border {
        border: 1px solid $White;
        transition: border .2s linear, background .2s linear, color .2s linear;
    }

    &.border:hover {
        border: 1px solid $WhiteOpacity;
        background: $WhiteOpacity;
        color: $Black;
    }
}