@import "@variables";
@import "@mixins";

.custom_button {
    cursor: pointer;
    font-size: 24px;
    line-height: 23px;
    // padding: 15px 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0);
    color: $White;
    font-family: $PPNeueMachinaRegular;

    &.project_page {
        padding: 30px 60px;
        font-size: 24px;
        line-height: 23px;

        &:last-child {
            margin-right: 0 !important;
        }
    }

    &.project_card {
        width: 100% !important;
        font-size: 24px;
        line-height: 24px;
        padding: 20px 30px;
        height: 63px;
    }

    @include breakpoint (ExtraMedium) {
        cursor: default;
    }

    @include breakpoint (ExtraLarge) {
        &.project_page {
            width: 28% !important;
            padding: 30px 60px;
            font-size: 18px;
            line-height: 18px;

            &:last-child {
                width: 33% !important;
                margin-right: 0 !important;
            }
        }

        &.project_card {
            height: auto;
            font-size: 18px;
            line-height: 18px;
            padding: 15px;
            margin-bottom: 0;
        }
    }

    @include breakpoint (SemiLarge) {
        font-size: 18px;
        line-height: 18px;

        &.project_page {
            width: 32% !important;
            padding: 15px 20px;
            font-size: 15px;
            line-height: 16px;

            &:last-child {
                width: 38% !important;
            }
        }
    }

    @include breakpoint (Large) {
        width: 261px !important;
        font-size: 16px;
        line-height: 16px;

        &.project_page {
            width: 33% !important;

            &:last-child {
                width: 40% !important;
            }
        }
    }

    @include breakpoint (Medium) {
        width: 100% !important;
        margin-bottom: 25px;
        margin-right: 0 !important;


        &.project_page {
            width: 100% !important;
            margin-bottom: 15px;
            padding: 15px 20px;

            &:last-child {
                width: 100% !important;
            }
        }
    }

    @include breakpoint (SemiMedium) {
        margin-bottom: 15px;

        &.project_page {
            margin-bottom: 10px;
        }

        &.project_card {
            height: auto;
            font-size: 16px;
            line-height: 16px;
        }

    }

    &:last-child {
        margin-bottom: 0;
    }

    &.none {
        transition: background .2s linear, color .2s linear;
    }

    &.none:hover {
        background: $WhiteOpacity;
        color: $Black;

        @include breakpoint (Medium) {
            background: none;
            color: $White;
        }
    }

    &.background {
        background: $White;
        color: $Black;
    }

    &.black.background {
        background: $Black;
        color: $White;
        transition: border .2s linear, background .2s linear, color .2s linear;

        &.black.background:hover {
            border: 1px solid rgba($Black, 0.8);
            background: rgba($Black, 0.8);
        }

        @include breakpoint (ExtraMedium) {
            &.black.background:hover {
                background: $Black;
                color: $White;
            }
        }
    }

    &.border {
        border: 1px solid $White;
        transition: border .2s linear, background .2s linear, color .2s linear;
    }

    &.black.border {
        color: $Black;
        border: 1px solid $Black;
    }

    &.border:hover {
        border: 1px solid $WhiteOpacity;
        background: $WhiteOpacity;
        color: $Black;

        &.black.border {
            border: 1px solid rgba($Black, 0.8);
            background: rgba($Black, 0.8);
            color: $White;
        }

        @include breakpoint (ExtraMedium) {
            &.black.border {
                background: none;
                color: $Black;
                border: 1px solid $Black;
            }
        }

        @include breakpoint (Medium) {
            border: 1px solid $White;
            background: none;
            color: $White;
        }
    }

}