@import "@variables";
@import "@mixins";


.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: none;
    padding: 0;

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 130px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        @include breakpoint (ExtraLarge) {
            height: 100px;
        }

        @include breakpoint (SemiLarge) {
            height: 90px;
        }

        @include breakpoint (Large) {
            height: 80px;
        }

        @include breakpoint (Medium) {
            height: 66px;
        }

        @include breakpoint (SemiMedium) {
            height: 60px;
        }
    }

    &.black &_inner {
        border-bottom: 1px solid rgba($Black, 0.2);
    }

    &_left_block {
        display: flex;
        justify-content: flex-start;
    }

    &_menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 50px;
        font-family: $PPNeueMachinaRegular;

        @include breakpoint (Large) {
            display: none;
        }

        &_item {
            cursor: pointer;
            font-size: 18px;
            line-height: 17px;
            color: $White;
            margin-right: 15px;
            transition: all .2s linear;

            @include breakpoint (SemiLarge) {
                font-size: 16px;
                line-height: 16px;
                margin-right: 30px;
            }
        }

        // &_item:last-child {
        //     margin-right: 0;
        // }

        &_item:hover {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &.black &_menu {
        &_item {
            cursor: pointer;
            color: $Black;
        }

        &_item:hover {
            color: rgba($Black, 0.6);
        }
    }

    &_buttons {
        display: flex;
        justify-items: end;
        align-items: center;

        @include breakpoint (Large) {
            display: none;
        }
    }

    &_burger_menu {
        width: 48px;
        height: 24px;
        display: none;

        @include breakpoint (Large) {
            display: block;
        }
    }


    &_buttons_create_project {
        max-height: 53px;
        border: 1px solid rgba($White, 0.75) !important;
        padding: 15px 30px;
        text-align: center;
        font-size: 24px;
        line-height: 23px;
        color: $White;
        font-family: $PPNeueMachinaMedium;

        transition: all .2s linear;

        @include breakpoint (ExtraLarge) {}

        @include breakpoint (SemiLarge) {
            font-size: 16px;
            line-height: 15px;
        }

        @include breakpoint (Large) {
            display: none;
        }
    }

    &.white &_buttons_create_project:hover {
        color: $Black;
        background: rgba($White, 0.75);
    }

    &.black &_buttons_create_project {
        color: $Black;
        border: 1px solid rgba($Black, 0.75) !important;
    }

    &.black &_buttons_create_project:hover {
        color: $White;
        background: rgba($Black, 0.75);
    }
}