@import "@variables";
@import "@mixins";


.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: none;
    padding: 0;

    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 130px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);

        @include breakpoint (SemiLarge) {
            height: 100px;
        }

        @include breakpoint (Medium) {
            height: 80px;
            // height: auto;
            // padding: 20px 0;
        }

    }

    &_left_block {
        display: flex;
        justify-content: flex-start;
    }

    &_menu {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 50px;
        font-family: $PPNeueMachinaRegular;

        @include breakpoint (Medium) {
            display: none;
        }

        &_item {
            cursor: pointer;
            font-size: 18px;
            line-height: 17px;
            color: $White;
            margin-right: 15px;
            transition: all .2s linear;
        }

        &_item:last-child {
            margin-right: 0;
        }

        &_item:hover {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &_buttons {
        display: flex;
        justify-items: end;
        align-items: center;

        @include breakpoint (Medium) {
            display: none;
        }
    }
}