@import "@variables";
@import "@mixins";

.cross {
    width: 28px;
    height: 28px;
    fill: $Black;
    transition: transform .3s ease-in-out;

    @include breakpoint (ExtraLarge) {
        width: 27px;
        height: 27px;
    }

    @include breakpoint (SemiLarge) {
        width: 18px;
        height: 18px;
    }
}

.close {
    width: 18px;
    height: 18px;
    fill: $Black;
    transform: rotate(45deg);

    @include breakpoint(ExtraLarge) {
        width: 15px;
        height: 15px;
    }

    @include breakpoint(SemiLarge) {
        width: 9px;
        height: 9px;
    }

    @include breakpoint(ExtraLarge) {
        width: 15px;
        height: 15px;
    }
}
