@import '@variables';
@import "@mixins";

.footer {
    width: 100%;
    margin-top: 50px;
    padding: 50px 0;
    position: relative;
    z-index: 1;

    @include breakpoint (SemiLarge) {
        margin-top: 30px;
        padding: 35px 0;
    }

    @include breakpoint (Large) {
        margin-top: 15px;
        padding: 35px 0;
    }

    @include breakpoint (Medium) {
        margin-top: 25px;
        padding: 25px 0;
    }

    @include breakpoint (SemiMedium) {
        margin-top: 20px;
        padding: 20px 0;
    }

    &_inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include breakpoint (Medium) {
            flex-direction: column;
            align-items: center;
            justify-content: center
        }
    }
}