@import '@variables';

.logotype {
    width: 359px;
    height: $LogotypeSize;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &_icon {
        width: $LogotypeSize;
        height: $LogotypeSize;
    }

    &_name {
        margin-left: 25px;
    }
}