@import '@variables';
@import '@mixins';

.logotype {
    width: 359px;
    height: 70px;

    @include breakpoint (ExtraLarge) {
        width: 290px;
        height: 50px;
    }

    @include breakpoint (SemiLarge) {
        width: 200px;
        height: 40px;
    }

    @include breakpoint (Large) {
        width: 200px;
        height: 40px;
    }

    @include breakpoint (Medium) {
        width: 184px;
        height: 66px;
    }

    @include breakpoint (SemiMedium) {
        width: 150px;
        height: 30px;
    }

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10000;

    &_icon {
        width: 70px;
        height: 70px;

        @include breakpoint (ExtraLarge) {
            width: 50px;
            height: 50px;
        }

        @include breakpoint (SemiLarge) {
            width: 40px;
            height: 40px;
        }

        @include breakpoint (Large) {
            width: 40px;
            height: 40px;
        }

        @include breakpoint (Medium) {
            width: 36px;
            height: 36px;
        }

        @include breakpoint (SemiMedium) {
            width: 30px;
            height: 30px;
        }
    }

    &_name {
        width: 264px;
        height: 34px;
        margin-left: 25px;

        @include breakpoint (ExtraLarge) {
            width: 191px;
            height: 25px;
        }

        @include breakpoint (SemiLarge) {
            width: 147px;
            height: 20px;
        }

        @include breakpoint (Large) {
            width: 147px;
            height: 20px;
            margin-left: 15px;
        }

        @include breakpoint (Medium) {
            width: 135px;
            height: 18px;
            margin-left: 10px;
        }

        @include breakpoint (SemiMedium) {
            width: 110px;
            height: 15px;
        }
    }
}