@import '@variables';

.title {
    width: 100%;
    font-size: 36px;
    font-family: $PPNeueMachinaRegular;
    color: $Black;
    letter-spacing: $letterSpacing;
    text-transform: $uppercase;
    margin-bottom: 50px;
}