@import "@variables";
@import "@mixins";

.opportunities_section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 45px 0 100px 0;

    @include breakpoint (ExtraLarge) {
        margin: 45px 0 50px 0;
    }

    @include breakpoint (SemiLarge) {
        margin: 35px 0 40px 0;
    }

    @include breakpoint (Large) {
        margin: 35px 0 30px 0;
    }

    @include breakpoint (Medium) {
        margin: 35px 0 40px 0;
    }

    @include breakpoint (SemiMedium) {
        margin: 35px 0 30px 0;
    }

    &_item {
        cursor: pointer;
        width: 50%;
        max-width: 694px;
        max-height: 150px;
        display: flex;
        align-items: center !important;
        justify-content: flex-start !important;
        padding: 25px 30px 25px 0;

        position: relative;

        border-bottom: 2px solid rgba($Grey, 0.75);

        @include breakpoint (ExtraLarge) {
            max-width: 507px;
            max-height: 133px;
            padding: 25px 25px 25px 0;
        }

        @include breakpoint (SemiLarge) {
            max-width: 346px;
            max-height: 150px;
        }

        @include breakpoint (Large) {
            max-width: 364px;
            height: 140px;
            max-height: 140px;
            padding: 25px 20px 25px 0;
        }

        @include breakpoint (Medium) {
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 225px;
            padding: 20px 20px 20px 0;

            &:last-child {
                border-bottom: none;
            }
        }

        @include breakpoint (SemiMedium) {
            width: 100%;
            max-width: 100%;
            max-height: 177px;
        }

        &_left_container {
            width: auto;
            margin-right: 30px;

            @include breakpoint (ExtraLarge) {
                margin-right: 30px;
            }

            @include breakpoint (Medium) {
                width: 100%;
                margin-right: 0;
            }
        }

        &_background {
            width: 100px;
            height: 100px;
            display: flex;
            position: relative;

            border: 2px solid $Blue;

            @include breakpoint (ExtraLarge) {
                width: 70px;
                height: 70px;
            }

            @include breakpoint (SemiLarge) {
                width: 60px;
                height: 60px;
                margin-bottom: 0;
            }

            @include breakpoint (Medium) {
                width: 82px;
                height: 82px;
                margin-bottom: 20px;
                margin-right: 0 !important;
            }

            @include breakpoint (SemiMedium) {
                width: 48px;
                height: 48px;
            }

            &_icon {
                width: 40px;
                height: 40px;
                margin: auto;

                @include breakpoint (ExtraLarge) {
                    width: 28px;
                    height: 28px;
                }

                @include breakpoint (SemiLarge) {
                    width: 24px;
                    height: 24px;
                }

                @include breakpoint (Medium) {
                    width: 32px;
                    height: 32px;
                }

                @include breakpoint (SemiMedium) {
                    width: 20px;
                    height: 20px;
                }
            }


            &_corner_upper {
                width: 20px;
                height: 20px;
                background: $Background;
                border-bottom: 2px solid $Blue;

                position: absolute;
                top: 0;
                right: 0;
                transform: rotate(45deg) translateY(-15px);

                @include breakpoint (ExtraLarge) {
                    width: 15px;
                    height: 15px;
                    transform: rotate(45deg) translateY(-11px);
                }
            }

            &_corner_down {
                width: 20px;
                height: 20px;
                background: $Background;
                border-top: 2px solid $Blue;

                position: absolute;
                bottom: 0;
                left: 0;
                transform: rotate(45deg) translateY(15px);

                @include breakpoint (ExtraLarge) {
                    width: 15px;
                    height: 15px;
                    transform: rotate(45deg) translateY(11px);
                }
            }
        }

        &:hover &_background {
            background: $Blue;
        }

        &:hover &_background_icon {
            filter: invert(100%);
            -webkit-filter: brightness(100px);
        }

        &_right_container {
            width: auto;
            max-width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @include breakpoint (Medium) {
                width: 100%;
            }
        }

        &_title {
            max-width: 100%;
            font-size: 36px;
            line-height: 36px;
            color: $Black;
            text-align: start;
            font-family: $PPNeueMachinaRegular;

            @include breakpoint (ExtraLarge) {
                width: 100%;
                font-size: 24px;
                line-height: 24px;
            }

            @include breakpoint (SemiLarge) {
                font-size: 18px;
                line-height: 18px;
            }

            @include breakpoint (Medium) {
                font-size: 24px;
                line-height: 24px;
            }

            @include breakpoint (SemiMedium) {
                font-size: 18px;
                line-height: 18px;
            }

            &_hover {
                width: 70%;
                height: 80%;
                background: $Blue;

                position: absolute;
                top: 10px;

                filter: blur(40px);
                opacity: 0;

                transition: opacity 0.4s ease-in-out;

                @include breakpoint (SemiLarge) {
                    width: 60%;
                }

            }
        }

        &:hover &_title_hover {
            opacity: 0.2;

            @include breakpoint (ExtraMedium) {
                opacity: 0;
            }
        }

        &_description {
            max-width: 99%;
            font-size: 18px;
            line-height: 24px;
            color: rgba($Black, 0.75);
            font-family: $HelveticaRegular;
            text-align: start;
            margin-top: 15px;

            @include breakpoint (ExtraLarge) {
                max-width: 100%;
                font-size: 16px;
                line-height: 22px;
                margin-top: 15px;
            }

            @include breakpoint (SemiLarge) {
                font-size: 14px;
                line-height: 18px;
            }

            @include breakpoint (Medium) {
                max-width: 100%;
                font-size: 16px;
                line-height: 22px;
            }

            @include breakpoint (SemiMedium) {
                font-size: 14px;
                line-height: 18px;
            }

        }
    }
}