// PP Neue Macnina
@font-face {
    font-family: "PPNeueMachinaUltraLight";
    src: url('../fonts/pp_neue/ultralight/NeueMachina-Ultralight.ttf');
    font-style: normal;
    font-weight: 200;
    font-display: fallback;
}

@font-face {
    font-family: "PPNeueMachinaLight";
    src: url('../fonts/pp_neue/light/NeueMachina-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: "PPNeueMachinaMedium";
    src: url('../fonts/pp_neue/medium/NeueMachina-Medium.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "PPNeueMachinaRegular";
    src: url('../fonts/pp_neue/regular/NeueMachina-Regular.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: "PPNeueMachinaBold";
    src: url('../fonts/pp_neue/bold/NeueMachina-Bold.ttf');
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: "PPNeueMachinaUltraBold";
    src: url('../fonts/pp_neue/ultrabold/NeueMachina-Ultrabold.ttf');
    font-style: normal;
    font-weight: 800;
    font-display: fallback;
}

@font-face {
    font-family: "PPNeueMachinaBlack";
    src: url('../fonts/pp_neue/black/NeueMachina-Black.ttf');
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
}

// Helvetica
@font-face {
    font-family: "HelveticaThin";
    src: url('../fonts/helvetica/thin/HelveticaThin.ttf');
    font-style: normal;
    font-weight: 200;
    font-display: fallback;
}

@font-face {
    font-family: "HelveticaLight";
    src: url('../fonts/helvetica/light/HelveticaLight.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: fallback;
}

@font-face {
    font-family: "HelveticaMedium";
    src: url('../fonts/helvetica/medium/HelveticaMedium.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
}

@font-face {
    font-family: "HelveticaRegular";
    src: url('../fonts/helvetica/regular/HelveticaRegular.ttf');
    font-style: normal;
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: "HelveticaBold";
    src: url('../fonts/helvetica/bold/HelveticaBold.ttf');
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
}

@font-face {
    font-family: "HelveticaBlack";
    src: url('../fonts/helvetica/black/HelveticaBlack.ttf');
    font-style: normal;
    font-weight: 900;
    font-display: fallback;
}