// PP Neue Machina
$PPNeueMachinaUltraLight: 'PPNeueMachinaUltraLight';
$PPNeueMachinaLight: 'PPNeueMachinaLight';
$PPNeueMachinaMedium: 'PPNeueMachinaMedium';
$PPNeueMachinaRegular: 'PPNeueMachinaRegular';
$PPNeueMachinaBold: 'PPNeueMachinaBold';
$PPNeueMachinaUltraBold: 'PPNeueMachinaUltraBold';
$PPNeueMachinaBlack: 'PPNeueMachinaBlack';

// Helvetica
$HelveticaThin: 'HelveticaThin';
$HelveticaLight: 'HelveticaLight';
$HelveticaMedium: 'HelveticaMedium';
$HelveticaRegular: 'HelveticaRegular';
$HelveticaBold: 'HelveticaBold';
$HelveticaBlack: 'HelveticaBlack';

// Screen sizes
$ExtraLarge: 2560px;
$SemiLarge: 1920px;
$Large: 1366px;
$ExtraMedium: 1024px;
$Medium: 768px;
$SemiMedium: 576px;
$ExtraSmall: 320px;

// Colors
$White: #FFFFFF;
$WhiteOpacity: rgba(255, 255, 255, 0.8);
$Black: #000000;
$Grey: #C0C2CC;
$Blue: #5951F6;
$Background: #FFFFFF;

// Font Style
$uppercase: uppercase;
$letterSpacing: 0.02em;


// Logotype size
$LogotypeSize: 70px;