@import '@variables';
@import "@mixins";

.oppurtunity_hiring {
    width: 100%;
    display: flex;
    flex-direction: column;

    background: radial-gradient(circle, #5D3270, #1F105C);

    padding: 50px;
    margin-top: 50px;

    @include breakpoint (ExtraLarge) {
        margin-top: 50px;
        padding: 40px;
    }

    @include breakpoint (Medium) {
        margin-top: 40px;
        padding: 30px;
    }

    @include breakpoint (SemiMedium) {
        padding: 20px;
    }

    &_container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &.title_block {
            border-bottom: 2px solid $White;
        }
    }

    &_title {
        cursor: default;
        font-size: 30px;
        line-height: 30px;
        color: $White;
        font-family: $PPNeueMachinaRegular;
        padding-bottom: 30px;

        @include breakpoint (ExtraLarge) {
            font-size: 24px;
            line-height: 24px;
            padding-bottom: 30px;
        }

        @include breakpoint (SemiLarge) {
            font-size: 18px;
            line-height: 18px;
            padding-bottom: 15px;
        }

        &.count {
            color: rgba($White, 0.5);
        }
    }

    &_item {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        border-bottom: 1px solid $White;
        padding-bottom: 20px;
        margin-top: 25px;

        @include breakpoint (ExtraMedium) {
            cursor: default;
        }

        @include breakpoint (SemiLarge) {
            margin-top: 20px;
        }

        &:last-child {
            border-bottom: none !important;
            padding-bottom: 0 !important;
        }

        &_inner {
            width: 100%;
            display: flex;
            justify-content: space-between;

        }

        &_left_container {
            width: 75%;
        }

        &_right_container {
            width: 20%;
            display: flex;
            justify-content: end;
        }

        &_title {
            width: 100%;
            font-size: 24px;
            line-height: 28px;
            color: $White;
            font-family: $PPNeueMachinaLight;
            margin-bottom: 15px;

            @include breakpoint (ExtraLarge) {
                font-size: 18px;
                line-height: 24px;
            }

            @include breakpoint (SemiMedium) {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &_tags {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }

        &_tag {
            font-size: 16px;
            line-height: 22px;
            color: rgba($White, 0.75);
            font-family: $HelveticaRegular;
            margin-bottom: 10px;

            @include breakpoint (ExtraLarge) {
                font-size: 14px;
                line-height: 18px;
            }

            @include breakpoint (SemiMedium) {
                font-size: 12px;
                line-height: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &_background {
            width: 75px;
            height: 75px;
            background: #fff;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;


            @include breakpoint (ExtraLarge) {
                width: 50px;
                height: 50px;
            }

            &_img {
                width: 54px;
                height: 54px;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;

                @include breakpoint (ExtraLarge) {
                    width: 36px;
                    height: 36px;
                }
            }
        }
    }

    &_show_more {
        cursor: pointer;
        width: 100%;
        padding: 15px 30px;
        border: 1px solid $White;
        background: $White;
        margin-top: 40px;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: $Black;
        font-family: $PPNeueMachinaRegular;

        transition: background 0.2s linear, color 0.2s linear;

        @include breakpoint (SemiLarge) {
            font-size: 16px;
            line-height: 16px;
            padding: 10px 15px;
            margin-top: 30px;
        }

        @include breakpoint (ExtraMedium) {
            cursor: default;
        }

        &:hover {
            background: transparent;
            color: $White;
        }
    }
}