@import "@variables";
@import "@mixins";

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;

    @include breakpoint (ExtraLarge) {
        margin-top: 45px;
    }

    @include breakpoint (SemiLarge) {
        margin-top: 35px;
    }

    @include breakpoint (Medium) {
        margin-top: 25px;
    }

    @include breakpoint (SemiMedium) {
        margin-top: 20px;
    }

    &_item {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        padding: 0 !important;

        background: transparent !important;

        border-top: 2px solid $Grey  !important;
        border-bottom: 2px solid rgba($Grey, 0) !important;
        border-right: 2px solid rgba($Grey, 0) !important;
        border-left: 2px solid rgba($Grey, 0) !important;
        box-shadow: none !important;

        &:first-child {
            border-top: 2px solid rgba($Grey, 0) !important;
        }

        @include breakpoint (ExtraMedium) {
            cursor: default;
        }

        &_title_block {
            width: 100% !important;
            display: flex;
            justify-content: space-between;
            padding: 30px 10px;
            margin: 0 !important;

            @include breakpoint (ExtraLarge) {
                padding: 25px 0
            }

            @include breakpoint (SemiLarge) {
                padding: 20px 0;
            }

            @include breakpoint (Medium) {
                padding: 15px 0;
            }

        }

        &_title {
            font-size: 33px;
            line-height: 30px;
            color: $Black;
            font-family: $PPNeueMachinaRegular;

            @include breakpoint (ExtraLarge) {
                font-size: 24px;
                line-height: 24px;
            }

            @include breakpoint (SemiLarge) {
                font-size: 18px;
                line-height: 18px;
            }

            @include breakpoint (SemiMedium) {
                font-size: 16px;
                line-height: 16px;
            }
        }

        &.active &_title {
            color: $Blue;
        }

        &_description {
            cursor: default;
            font-size: 18px;
            line-height: 24px;
            color: $Black;
            font-weight: 600;
            font-family: $PPNeueMachinaRegular;

            // display: none;

            & p {
                @include breakpoint (ExtraLarge) {
                    font-size: 16px;
                    line-height: 22px;
                }

                @include breakpoint (SemiLarge) {
                    font-size: 15px;
                    line-height: 20px;
                }

                @include breakpoint (Medium) {
                    width: 100% !important;
                    font-size: 14px !important;
                    line-height: 18px !important;
                }
            }

        }
    }
}